<!doctype html>
<html lang="en">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="static/css/style.css" rel="stylesheet" media="all" />
    <script src="static/map-helper.js"></script>

    <title><%= pageTitle %></title>
  </head>
  <body class="body-style">
    <nav
      class="navbar navbar-light"
      style="background-color: #e3f2fd; margin-bottom: 20px"
      id="mainNavBar"
    >
      <!-- Navbar content -->
      <h3>GeoWeatherHub</h3>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#home"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#about">About the project</a>
        </div>
      </div>
    </nav>

    <!--The div element for the map -->
    <div id="main-map">
      <div id="map"></div>

      <div id="weather-data">
        <h3>Weather Information</h3>
        <p id="weather-data-city" class="weather-subtitle">City:</p>
        <p id="weather-data-temperature" class="weather-subtitle">
          Temperature:
        </p>
      </div>
    </div>

    <div id="about">
      <h3>About project:</h3>
      <a class="top" href="#mainNavBar">Back to Top ↑</a>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Google Maps API key , Used defer to not interupt the DOM to load and then execute the async function-->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
    ></script>

    <script>
      // Call the getWeather function and handle the result
      // getWeather(function (weatherData) {
      //   if (weatherData) {
      //     console.log("Weather data:", weatherData);
      //     // Access and display weather data in your HTML elements
      //     document.getElementById("weather-data-city").innerText =
      //       "City: " + weatherData.data.currentWeather.name;
      //     document.getElementById("weather-data-temperature").innerText =
      //       "Temperature: " + weatherData.data.currentWeather.main.temp;
      //   } else {
      //     console.log("No weather data available");
      //   }
      // });

      document.querySelector('a[href^="#"]').foreach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          document.querySelector(
            this.getAttribute("href").scrollIntoView({
              behavior: "smooth",
            })
          );
        });
        r;
      });
    </script>
  </body>
</html>
