<!doctype html>
<html lang="en">
  <head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link href="static/css/style.css" rel="stylesheet" media="all" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="static/map-helper.js"></script>

    <title><%= pageTitle %></title>
  </head>
  <body class="body-style">
    <nav
      class="navbar navbar-light bg-primary py-3 bg-header"
      style="background-color: #e3f2fd; margin-bottom: 20px; color: white"
      id="mainNavBar"
    >
      <!-- Navbar content -->
      <h3>GeoWeatherHub</h3>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#home"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#about">About the project</a>
        </div>
      </div>
    </nav>

    <!--The div element for the map -->
    <div id="main-map">
      <!-- Map will be displayed here -->
      <div id="map"></div>

      <div id="weather-data">
        <h3>Weather Information</h3>
        <p id="weather-data-city" class="weather-subtitle">City:</p>
        <p id="weather-data-temperature" class="weather-subtitle">
          Temperature:
        </p>
        <p id="weather-data-humidity" class="weather-subtitle">Humidity:</p>
      </div>
    </div>

    <div id="about">
      <div
        class="container-fluid bg-primary py-5 bg-header"
        style="margin-bottom: 90px"
      >
        <div class="row py-5">
          <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">
              About The Project
            </h1>
            <p class="text-white about-paragraph">
              The primary purpose of GeoWeatherHub is to allow users to explore
              and pin locations on an interactive map and retrieve real-time
              weather information for those locations. Whether you're planning a
              trip, curious about the weather in different cities, or just want
              to explore weather patterns around the world, GeoWeatherHub has
              you covered.
            </p>
          </div>
        </div>

        <div id="technologies-used" class="container-fluid bg-white py-5">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="display-4">Technologies Used</h2>
              <ul>
                <li>Node.js</li>
                <li>Express.js</li>
                <li>GraphQL</li>
                <li>Google Maps JavaScript API</li>
                <li>OpenWeatherMap API</li>
              </ul>

              <!-- GitHub Link -->
              <a
                href="https://github.com/movchaneric/MapWeatherExplorer"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="fa fa-github" style="font-size: 36px"></i>
              </a>
            </div>
          </div>
        </div>

        <a class="top" href="#mainNavBar">Back to Top ↑</a>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- Google Maps API key , Used defer to not interupt the DOM to load and then execute the async function-->
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= apiKey %>&callback=initMap"
    ></script>

    <script>
      // Back to top button disapear when reaching the top of the page
      document.addEventListener("DOMContentLoaded", function () {
        var backButton = document.querySelector(".top");
        window.addEventListener("scroll", function () {
          if (window.scrollY > 200) {
            backButton.style.display = "block";
          } else {
            backButton.style.display = "none";
          }
        });
      });

      //Scroll animation when clicking navbar button
      document.querySelector('a[href^="#"]').foreach((anchor) => {
        anchor.addEventListener("click", function (e) {
          e.preventDefault();
          document.querySelector(
            this.getAttribute("href").scrollIntoView({
              behavior: "smooth",
            })
          );
        });
        r;
      });
    </script>
  </body>
</html>
